#about {
  display: grid;

  .title-about {
    padding-bottom: 40px;
  }
  .content-about {
    color: #808080;
    font-size: 1.09rem;
    display: grid;

    &:after {
      content: " ";
      width: 80px;
      height: 4px;
      background: #24964d;
      margin-top: 40px;

    }
  }
}