.menu_burger {
  display: none;
  flex-direction: column;

  .burger_item {
    width: 70px;
    height: 9px;
    background: #000000;
    border-radius: 10px;
    margin: 10px 0;

  }

  &:before {
    content: "";
    width: 70px;
    height: 9px;
    background: #000000;
    border-radius: 9px;

  }

  &:after {
    content: "";
    width: 70px;
    height: 9px;
    background: #000000;
    border-radius: 10px;

  }
}



#header {
  .menu-opened {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: 0;
    z-index: 50;
    background: rgba(250, 250, 250, 0.93);
    overflow-y: auto;

    #menu-header-menu {
      flex-direction: column;

      li {

        a {
          margin: 0 15px;
          font-size: 2rem;
          line-height: 4rem;
          display: flex;
          justify-content: center;
          border-bottom: 4px solid #24964d;
          padding-bottom: 6px;
        }

        &:last-child {
          padding-top: 15px;
          align-self: center;

          a {
            padding: 12px 70px;
          }
        }
      }
    }
  }
}



.close_burger_menu {
  display: none;
}

.close_burger_menu_item {
  position: absolute;
  right: 10px;
  top: 10px;
  width: 32px;
  height: 32px;

}

.close_burger_menu_item:before, .close_burger_menu_item:after {
  position: absolute;
  left: 15px;
  content: ' ';
  height: 33px;
  width: 3px;
  background-color: #333;
}
.close_burger_menu_item:before {
  transform: rotate(45deg);
}
.close_burger_menu_item:after {
  transform: rotate(-45deg);
}