@font-face {
  font-family: "Mont-Cyr Black";
  src: url("../fonts/Mont-Cyr/Fontfabric---Mont-Black.otf") format("otf");
  font-weight: 900;
}
@font-face {
  font-family: "Mont-Cyr Black Italic";
  src: url("../fonts/Mont-Cyr/Fontfabric---Mont-Black-italic.otf") format("otf");
  font-weight: 900;
}
@font-face {
  font-family: "Mont-Cyr Bold";
  src: url("../fonts/Mont-Cyr/Fontfabric---Mont-Bold.otf") format("otf");
  font-weight: 700;
}
@font-face {
  font-family: "Mont-Cyr Bold Italic";
  src: url("../fonts/Mont-Cyr/Fontfabric---Mont-Bold-Italic.otf") format("otf");
  font-weight: 700;
}
@font-face {
  font-family: "Mont-Cyr ExtraLight";
  src: url("../fonts/Mont-Cyr/Fontfabric---Mont-ExtraLight.otf") format("otf");
  font-weight: 200;
}
@font-face {
  font-family: "Mont-Cyr ExtraLight Italic";
  src: url("../fonts/Mont-Cyr/Fontfabric---Mont-ExtraLight-Italic.otf") format("otf");
  font-weight: 200;
}
@font-face {
  font-family: "Mont-Cyr Heavy";
  src: url("../fonts/Mont-Cyr/Fontfabric---Mont-Heavy.otf") format("otf");
  font-weight: 900;
}
@font-face {
  font-family: "Mont-Cyr Heavy Italic";
  src: url("../fonts/Mont-Cyr/Fontfabric---Mont-Heavy-Italic.otf") format("otf");
  font-weight: 900;
}
@font-face {
  font-family: "Mont-Cyr Light";
  src: url("../fonts/Mont-Cyr/Fontfabric---Mont-Light.otf") format("otf");
  font-weight: 300;
}
@font-face {
  font-family: "Mont-Cyr Light Italic";
  src: url("../fonts/Mont-Cyr/Fontfabric---Mont-Light-italic.otf") format("otf");
  font-weight: 300;
}
@font-face {
  font-family: "Mont-Cyr Regular";
  src: url("../fonts/Mont-Cyr/Fontfabric---Mont-Regular.otf") format("otf");
  font-weight: 400;
}
@font-face {
  font-family: "Mont-Cyr Regular Italic";
  src: url("../fonts/Mont-Cyr/Fontfabric---Mont-Regular-Italic.otf") format("otf");
  font-weight: 400;
}
@font-face {
  font-family: "Mont-Cyr SemiBold";
  src: url("../fonts/Mont-Cyr/Fontfabric---Mont-SemiBold.otf") format("otf");
  font-weight: 500;
}
@font-face {
  font-family: "Mont-Cyr SemiBold Italic";
  src: url("../fonts/Mont-Cyr/Fontfabric---Mont-SemiBold-Italic.otf") format("otf");
  font-weight: 500;
}
@font-face {
  font-family: "Mont-Cyr Thin";
  src: url("../fonts/Mont-Cyr/Fontfabric---Mont-Thin.otf") format("otf");
  font-weight: 100;
}
@font-face {
  font-family: "Mont-Cyr Thin Italic";
  src: url("../fonts/Mont-Cyr/Fontfabric---Mont-Thin-Italic.otf") format("otf");
  font-weight: 100;
}