footer {
  background: $bg-f;

  padding: 91px 0 84px;
  .site-title {
    margin-left: 11px;
    color: #fff;
    font-size: 1.375rem;
    line-height: 1;
    font-family: "Mont-Cyr Heavy", sans-serif;
    font-weight: 900;
  }
}



