#header {
  .cap-header {
    background: $bg-h;
    padding: 32px 0;
  }

  .cap {
    color: #ffffff;
    font-size: 1.5rem;

    .phone {
      text-align: end;
      font-family: "Mont-Cyr Heavy", sans-serif;
      font-weight: 900;
      justify-content: flex-end;

      a {
        color: #ffffff;
      }

      &:before {
        content: " ";
        margin-right: 18px;
        width: 54px;
        height: 4px;
        background: #24964d;
      }

    }

    .site-title {
      margin-left: 11px;
      font-size: 1.375rem;
      font-family: "Mont-Cyr Heavy", sans-serif;
      font-weight: 900;
    }
  }

  .nav-header {
    padding: 35px 0 31px;
  }

  #menu-header-menu {
    font-size: 1.125rem;
    display: flex;
    justify-content: flex-end;
    position: relative;

    .current-menu-item {
      a {
        color: #24964d;
        border-bottom: 4px solid #24964d;
        padding-bottom: 6px;
      }
    }

    li {


      a {
        color: #333333;
        margin: 0 18px;
        font-size: 1.125rem;
        font-family: "Mont-Cyr Heavy", sans-serif;
        font-weight: 900;

        &:hover {
          color: #24964d;
          //border-bottom: 4px solid #24964d;
          //padding-bottom: 9px;
        }

      }

      &:last-child {
        a {
          background: $bg-btn;
          padding: 16px 31px;
          color: #fff;
          border-radius: 5px;
          margin-right: 0;
          border-bottom: none;
          font-weight: 700;
          font-family: "Mont-Cyr Bold", sans-serif;

          &:hover {
            background: $bg-btn-h;
          }
        }
      }

    }

  }

  .search-field {
    font-size: 1.125rem;
    font-weight: 700;
    border-bottom: 4px solid #bfbfbf;
    width: 100%;
    &::placeholder {
      color: #bfbfbf;
    }

    &:hover {
      border-bottom: 4px solid #24964d;

      &::placeholder {
        color: #000000;
        //content: "Awesome Search";
      }
    }

    &:focus {
      border-bottom: 4px solid #24964d;
      //content: "Awesome Search";
      &::placeholder {
        //content: "Awesome Search";
        color: #000000;
      }
    }
  }


}