.slider-item {
.owl-item {
  margin: 0;
}
  .content-slide {
    padding: 52px 52px 48px;
    background: #10191c;
    font-family: $font-bold;
    font-weight: 700;
    position: relative;
    border-radius: 5px 0 0 5px;

    .post-date {
      color: #4d4d4d;
      font-size: 1.063rem;

      .post-date-icon {
        width: 15px;
        height: 15px;
        margin-right: 10px;
      }

    }

    .title-slide {
      color: #ffffff;
      font-size: 2rem;
      padding: 40px 0 56px;
    }

    .btn-slide {
      align-self: start;
    }

  }

  .thumbnail-slide {
    padding: 0;

    img {
      border-radius: 0 5px 5px 0;

    }

  }


}

.slider-section {
  position: relative;

  .owl-nav {
    position: absolute;
    bottom: 48px;
    right: 65px;


    button.owl-next {
      border-radius: 0 5px 5px 0;
      padding: 20px 25px !important;
      background: $bg-btn;

      &:hover {
        background: $bg-btn-h;
        color: #ffffff;
      }
    }

    button.owl-prev {
      padding: 20px 25px !important;
      border-radius: 5px 0 0 5px;
      background: $bg-btn;

      &:hover {
        background: $bg-btn-h;
        color: #ffffff;
      }
    }

    i.prev {
      border: 7px solid transparent;
      border-right: 5px solid #ffffff;
      display: flex;
    }

    i.next {
      border: 7px solid transparent;
      border-left: 5px solid #ffffff;
      display: flex;
    }


  }

  .owl-dots {
    display: none;
  }
}