$font-bold: "Mont-Cyr Bold", sans-serif;
$font-heavy: "Mont-Cyr Heavy", sans-serif;


* {
  -moz-transition: all 0.3s ease;
  -webkit-transition-property: all;
  -webkit-transition-duration: 0.3s;
  -webkit-transition-timing-function: ease;
  box-sizing: border-box;
}
:root {
  font-size: 16px;
}
body {
  font-family: "Mont-Cyr Bold", sans-serif;
  font-weight: 700;
}
ul, li {
  display: block;
  margin: 0;
  padding: 0;
}

a, a:hover, a:active, a:focus, button, button:hover, button:active, button:focus, input, input:focus, input:active, textarea:active, textarea:focus, textarea:hover {
  text-decoration: none;
  outline: none;
  border: none;
}
a {
  color: #ffffff;

  &:hover {
    color: #ffffff;

  }
}

p, h1, h2, h3, h4 {
  margin: 0;
  padding: 0;

}
h3 {
  font-family: $font-heavy;
  font-weight: 900;
  color: #333333;
  font-size: 1.625rem;
}


@media (min-width: 1200px) {
  .container {
    max-width: 1250px;
    margin: 0 auto;
  }
}

.btn-custom {
  background: $bg-btn;
  padding: 16px 31px;
  color: #fff;
  border-radius: 5px;
  margin-right: 0;
  border-bottom: none;
  font-size: 1rem;
  font-weight: 700;
  font-family: "Mont-Cyr Bold", sans-serif;
  &:hover {
    background: $bg-btn-h;
    color: #ffffff;
  }
}

#content {
  padding: 64px 0 90px;
}
.owl-carousel .owl-item img {
  width: auto;
}

