@media screen and (max-width: 1200px) {
  :root {
    font-size: 14px;
  }
  .news {
    margin-left: 50px;
  }
  .news .news-post {
    grid-template-columns: 42% 58%;
  }

}

@media screen and (max-width: 992px) {
  .news {
    margin-left: 0;
    margin-top: 30px;
  }
  .news .news-post {
    grid-template-columns: 35% 65%;
  }
  .header-menu {
    display: none;
  }
  .menu-opened {
    display: flex;

  }
  .menu_burger, .close_burger_menu {
    display: flex;
  }
  .slider-item {
    position: relative;
  }
  .slider-item .content-slide, .slider-item .thumbnail-slide img {
    border-radius: 5px;
  }

  .slider-item .content-slide {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    height: 100%;
    background: rgba(16, 25, 28, 0.8);;
  }
  .menu-header-menu-container {
    width: 100%;
    margin-top: 50px;
  }


  #header .search-field {
    font-size: 2rem;
  }


}


@media screen and (max-width: 768px) {
  .news .news-post {
    grid-template-columns: 42% 58%;
  }
  .cap-logo, #header .cap .phone {
    justify-content: center;
  }
  .phone {
    &:before {
      display: none;

    }
  }

}

@media screen and (max-width: 576px) {
  .news .news-post {
    grid-template-columns: 100%;
  }
  .news .news-post .news-post-text {
    text-align: justify;
  }
  .news-post-date, .news-post-img {
    justify-self: center;
  }
}

@media screen and (max-width: 448px) {
  .slider-section .owl-nav button.owl-prev {
    display: none;
  }
  .slider-section .owl-nav button.owl-next {
    padding: 20px 20px 20px 25px!important;
    border-radius: 5px;
  }
  .slider-item .content-slide {
    padding: 48px 20px ;
  }
}