.news {
  display: grid;

  .title-news {
    padding-bottom: 40px;
  }

  .news-post {
    display: grid;
    grid-template-columns: 35% 65%;
    margin-bottom: 40px;

    .news-post-content {
      display: grid;
    }

    .news-post-img {

      img {
        //width: 198px;
        //height: 107px;
        border-radius: 5px;
      }
    }

    .news-post-date {
      color: #bfbfbf;
      font-family: $font-bold;
      font-weight: 700;
    }

    .news-post-text {
      color: #4d4d4d;
      font-family: $font-bold;
      font-size: 1.063rem;
      font-weight: 700;
    }

    &:hover {

      .news-post-text {
        color: #000000;
      }
    }
  }

}